table {
  align-items: center;
  margin-left: 500px;
  margin-top: 200px;
  background-color: rgb(122, 124, 223);
  border: 1px solid black;
}
.table_head th {
  padding: 12px;
  border: 1px solid black;
}
.table_body tr {
  margin: 10px;
  padding: 12px;
  border: 1px solid black;
}

.table_body tr td {
  border: 1px solid black;
}

#result {
  margin-top: 6px;
  font-size: 18px;
  text-align: center;
  align-items: center;
}

